body{background-color: rgb(67, 80, 89); color: rgb(0, 0, 0); font-family: arial; font-size: 22px; font-weight: bold; font-style: normal;}
p{margin: 0px;padding: 0px;}
.img-responsive{max-width:100%; height:auto;}
 