html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;    
}

img {
    border: 0;
    max-width: 100%;
}

a {
    display: inline-block;    
}

p, ul, li, ol, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: normal;
}

.hide {
    display: none;
}

.wrapper > header {
    margin-bottom: 15px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
@media (max-width: 420px) {
    .wrapper > header {
        border-bottom-width: 3px;
    }
}
.wrapper > header img {
    display: block;
    margin: auto;
    padding: 15px 0;
    height: 50px;
}
@media (max-width: 380px) {
    .wrapper > header img {
        padding: 10px 0;
        height: 40px;
    }
}

.wrapper-content {
    padding: 10px 0;
    overflow: hidden;
    text-align: center;
}

.box:not(:first-child){
    display: none;
}

.box .box-content {
    margin-top: 15px;
}
.box .box-header {
    margin: 25px auto;
    max-width: 320px;
}

.box {
    display: inline-block;
    margin: 0 auto;
}
.box-img {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    padding: 7px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-radius: 7px;
}

.box-img img {
    display: block;
    margin: auto;
}
@media (max-width: 480px) {
    .box-img img {
        width: 260px;
    }
}
@media (max-width: 380px) {
    .box-img img {
        width: 225px;
    }
}
@media (max-width: 350px) {
    .box-img img {
        width: 200px;
    }
}

.box-img .sex-app {
    position: absolute;
    bottom: 0;
    right: -100px;
    padding: 10px 45px 10px 15px;
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
}
.box-img .sex-app:before {
    content: '';
    position: absolute;
    right: -50px;
    top: 0;
    width: 70px;
    height: 70px;    
    transform: rotate(-45deg);
}
.lang-it .box-img .sex-app,
.lang-fr .box-img .sex-app,
.lang-es .box-img .sex-app,
.lang-fi .box-img .sex-app {
    bottom: 25px;
    right: -150px;
}

@media (max-width: 480px) {
    .box-img .sex-app {
        right: -55px;
        bottom: -5px;
        padding: 7px 40px 7px 10px;
        font-size: 16px;
    }
    .box-img .sex-app:before {
        right: -30px;
        width: 55px;        
        height: 55px;
    }
    .lang-it .box-img .sex-app,
    .lang-fr .box-img .sex-app,
    .lang-es .box-img .sex-app,
    .lang-fi .box-img .sex-app {
        bottom: 20px;
        right: -75px;
    }
}
@media (max-width: 350px) {
    .box-img .sex-app {
        right: -75px;
        bottom: 10px;
        padding: 7px 40px 7px 10px;
    }
    .box-img .sex-app:before {
        right: -30px;
        width: 50px;
        height: 60px;
    }
    .lang-it .box-img .sex-app,
    .lang-fi .box-img .sex-app {
        bottom: 25px;
        right: -75px;
    }
}

.box-header h2 {
    font-size: 16px;
    font-weight: bold;
}

.box-final {
    max-width: 400px;
    margin: 0 auto;
}
@media (max-width: 360px) {
    .box-final {
        margin: 0 10px;
    }
}
.box-final .box-header {
    max-width: none;
}

.box-final .box-content {
    margin: 0 10px;
    padding: 8px 15px;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;    
    text-align: left;
    font-size: 14px;
    line-height: 1.4;
}

.box-final .box-content p:not(:last-child){
    margin-bottom: 10px;
}

.box-final .box-btn {
    margin-top: 30px;
}

.box-btn {
    margin-top: 20px;
}

@media only screen and (max-width: 350px) {
    .box-img img{
        max-height: 380px;
    }

    .box .box-content, .box .box-header{
        margin-top: 10px;
    }

    .box-header h2{
        font-size: 16px;
    }

    .box-btn{
        margin-top: 15px;
    }
}

.btn {
    min-width: 120px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;    
    cursor: pointer;
    margin: 0px 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-transform: uppercase;    

    -webkit-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
}

.btn:focus {
    outline: none;
}

.progress-bar {
    width: 300px;
    display: block;
    margin: auto;    
    border-radius: 5px;
    height: 15px;
    border-width: 5px;
    border-style: solid;
    overflow: hidden;
    position: relative;
    margin-top: 15px;
}

.progress-bar:before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    height: 100%;    
    width: 0;

    -webkit-transition: width 6s linear;
    transition: width 6s linear;
}

.progress-bar.active:before {    
    width: 100%;
}